{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datan prosessointi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function processData(funcName) {
            // Show spinner
            $('#spinner').show();
            // Disable all buttons
            $('button').prop('disabled', true);
            // Get CSRF token
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            // Make AJAX request to the backend
            // Get selected symbols from checkboxes
            var symbols = [];
            $('.symbol-checkbox:checked').each(function() {
                symbols.push($(this).val());
            });
            $.ajax({
                url: '/process-data/',
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: {'func_name': funcName, 'symbols': symbols},
                success: function(response) {
                    // Hide spinner
                    $('#spinner').hide();
                    // Enable all buttons
                    $('button').prop('disabled', false);
                    alert(response.message);
                },
                error: function(xhr, status, error) {
                    // Hide spinner
                    $('#spinner').hide();
                    // Enable all buttons
                    $('button').prop('disabled', false);
                    alert("Error occurred: " + error);
                }
            });
        }
    </script>
</head>
<body>
<div class="container mt-5 text-center">
    {% csrf_token %}
    <form id="processForm" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Valitse osakkeet:</span>
            <div class="form-check">
                {% for symbol in symbol_list %}
                <div class="form-check">
                    <input class="form-check-input symbol-checkbox" type="checkbox" value="{{ symbol.symbol }}" id="{{ symbol.symbol }}">
                    <label class="form-check-label" for="{{ symbol.symbol }}">
                        {{ symbol.company_name }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" class="btn btn-primary mr-2" onclick="processData('bulk')">Prosessoi valitusta osakkeesta
            signaalit
        </button>
        <button type="button" class="btn btn-primary mr-2" onclick="processData('buy_sell')">Prosessoi kaikista
            osakkeesta osta/myy-pisteet
        </button>
        <button type="button" class="btn btn-primary" onclick="processData('get_daily')">Päivittäisen datan haku
        </button>
        <button type="button" class="btn btn-primary mr-2" onclick="processData('daily')">Päivittäisdatan prosessointi
            signaaleiksi
        </button>
        <button type="button" class="btn btn-primary" onclick="processData('get_daily_buy_sell')">Päivittäisen datan
            osta/myy-pisteet
        </button>
        <button type="button" class="btn btn-primary" onclick="processData('simulate')">Simuloi
        </button>
    </form>
</div>
<div id="spinner" class="text-center" style="display: none;">Ladataan...</div>
</body>
</html>
{% endblock %}
