{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <img src="data:image/png;base64, {{ img }}" alt="Plotti" width="auto" height="auto">
    <img src="data:image/png;base64, {{ img2 }}" alt="Plotti2" width="auto" height="auto">
    <h1>Osto-/Myyntitransaktiot</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Päivä</th>
            <th scope="col">Hinta</th>
            <th scope="col">Tapahtuma</th>
            <th scope="col">Sijoituksen arvo</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for date, close_price, investment, signal in buy_sell_dates %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ close_price }}</td>
            <td style="{% if signal == 'BUY' %}color:green{% elif signal == 'SELL' %}color:red{% endif %}">
                {{ signal }}
            </td>
            <td>{{ investment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}